/* Reset defaults and set dark/light background defaults */
:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  line-height: 1.5;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  margin: 0;
  display: flex;
  place-items: top;
  min-width: 225px;
  min-height: 100vh;
}

#root {
  max-width: 1280px;
  margin: 0;
  padding: 6px;
  text-align: center;
}

#main {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 2.2rem;
  margin-bottom: 0.5rem;
}

p {
  font-size: 1.1rem;
  color: #a1a1aa;
}

strong {
  color: #646cff;
}

.incline, .speed {
  display: flex;
  align-items: center;
  justify-content: center;
}

:is(.incline, .speed) input:is([type="text"], [type="number"]) {
  width: 80px;
}

.inclineQuickButtons button
{
  box-sizing: content-box;
  padding: 10px;
  text-align: center;
}

/* Light mode overrides */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  p {
    color: #555;
  }
}